.select {
  background-color: transparent;
  border: none;
  height: 30px;
  width: 35px;
  padding-left: 10px;
  appearance: none;
  text-align: center;
  display: flex;
}

.option {
  background-color: white;
  border: none;
  text-align: center;
  background-image: url();
}
